@import "components/_variables.scss";

.error {
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
  color: black;
  background-color: #fff;
  text-align: center;
  border-radius: 0.375rem;
}

.loader {
  padding: 20px;
  background-color: #fff;
  border-radius: 0.375rem;
}
